.partA-container{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: #2a9d8f;
    background: #2a9d8f;
    margin-right: 8px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eventhandler{
    border-width:25%;
    border-style: solid;
    background:#e9c46a;
    margin: 25px;
    padding: 10px;
    border-radius: 25px;
    border-color:#e9c46a;
}